<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<!--link rel="stylesheet" type="text/css" href="style.css"-->
</head>
<body class="c15">
    <p class="c18 title" id="h.xp7zlkxbtvnj">
        <span class="c19">NEON NIST DSE - Report</span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <a id="t.ebad03ea62f9898316e6f1ca421ba9a383fc8c8d"></a>
    <a id="t.0"></a>
    <table class="c6">
        <tbody>
            <tr class="c9">
                <td class="c4" colspan="1" rowspan="1"><p class="c11">
                        <span class="c1">Team Name</span>
                    </p></td>
                <td class="c4" colspan="1" rowspan="1"><p class="c0">
                        <span class="c1">{{team_name}}</span>
                    </p></td>
            </tr>
            <tr class="c9">
                <td class="c4" colspan="1" rowspan="1"><p class="c11">
                        <span class="c1">Submission #</span>
                    </p></td>
                <td class="c4" colspan="1" rowspan="1"><p class="c0">
                        <span class="c1">{{submission_id}}</span>
                    </p></td>
            </tr>
            <tr class="c9">
                <td class="c4" colspan="1" rowspan="1"><p class="c11">
                        <span class="c1">Submission Quota</span>
                    </p></td>
                <td class="c4" colspan="1" rowspan="1"><p class="c0">
                        <span class="c1">{{submission_cnt}} / {{submission_total}} </span>
                    </p></td>
            </tr>
            <tr class="c9">
                <td class="c4" colspan="1" rowspan="1"><p class="c11">
                        <span class="c1">Time Submitted</span>
                    </p></td>
                <td class="c4" colspan="1" rowspan="1"><p class="c0">
                        <span class="c1">{{time_submitted}}</span>
                    </p></td>
            </tr>
            <tr class="c9">
                <td class="c4" colspan="1" rowspan="1"><p class="c11">
                        <span class="c1">Time Evaluated</span>
                    </p></td>
                <td class="c4" colspan="1" rowspan="1"><p class="c0">
                        <span class="c1">{{time_evaluated}}</span>
                    </p></td>
            </tr>
        </tbody>
    </table>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c11">
        <span class="c1">The evaluated results for your submission can
            be found below :</span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c11">
        <span class="c7">Overall Performance :</span>
    </p>
    <p class="c3">
        <span class="c7"></span>
    </p>
    <p class="c3">
        <span class="c7"></span>
    </p>
    <a id="t.4b5d64606565f0a39f1db189c5b584cd8f3d8645"></a>
    <a id="t.1"></a>
    <table class="c6">
        <tbody>
            <tr class="c9">
                <td class="c4" colspan="1" rowspan="1"><p class="c8">
                        <span class="c1">Crown Delineation</span>
                    </p></td>
                <td class="c4" colspan="1" rowspan="1"><p class="c8 c14">
                        <span class="c7">{{t1_score}}</span>
                    </p></td>
            </tr>
            <tr class="c9">
                <td class="c4" colspan="1" rowspan="1"><p class="c8">
                        <span class="c1">Crown Alignment</span>
                    </p></td>
                <td class="c4" colspan="1" rowspan="1"><p class="c8 c14">
                        <span class="c7">{{t2_score}}</span>
                    </p></td>
            </tr>
            <tr class="c9">
                <td class="c4" colspan="1" rowspan="1"><p class="c13">
                        <span class="c1">Species Classification</span>
                    </p></td>
                <td class="c4" colspan="1" rowspan="1"><p class="c8 c14">
                        <span class="c7">{{t3_score}}</span>
                    </p></td>
            </tr>
        </tbody>
    </table>
    <p class="c3">
        <span class="c7"></span>
    </p>
    <p class="c11">
        <span class="c1">&nbsp;</span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c11">
        <span class="c17">Task 1 - Crown Delineation</span><span class="c1">&nbsp;
        </span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c11">
        <span class="c2">Plot Level Confusion Matrix as a Bar Chart</span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <a id="t.1aebe24dda1b56316fca09844ec7bf63e4290b0d"></a>
    <a id="t.4"></a>
    <img src="../report/confusionMatrix.png" width=480/>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <a id="t.3a825b022f5b045c8e3d97284eb12780fe3e403b"></a>
    <a id="t.5"></a>
    <table class="c6 tab">
        <tbody>
            <tr class="c16">
                <td class="c5" colspan="1" rowspan="1"><p class="c12">
                        <span class="c1">Area Error</span>
                    </p></td>
                <td class="c5" colspan="1" rowspan="1"><p class="c12">
                        <span class="c1">Positive</span>
                    </p></td>
                <td class="c5" colspan="1" rowspan="1"><p class="c12">
                        <span class="c1">Negative</span>
                    </p></td>
            </tr>
            <tr class="c9">
                <td class="c5" colspan="1" rowspan="1"><p class="c12">
                        <span class="c1">True</span>
                    </p></td>
                <td class="c5" colspan="1" rowspan="1"><p class="c0">
                        <span class="c1">{{true_positive}}</span>
                    </p></td>
                <td class="c5" colspan="1" rowspan="1"><p class="c0">
                        <span class="c1">{{true_negative}}</span>
                    </p></td>
            </tr>
            <tr class="c9">
                <td class="c5" colspan="1" rowspan="1"><p class="c12">
                        <span class="c1">False</span>
                    </p></td>
                <td class="c5" colspan="1" rowspan="1"><p class="c0">
                        <span class="c1">{{false_positive}}</span>
                    </p></td>
                <td class="c5" colspan="1" rowspan="1"><p class="c0">
                        <span class="c1">{{false_negative}}</span>
                    </p></td>
            </tr>
        </tbody>
    </table>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <br/>
    <br/>
    <p class="c11">
        <span class="c2">Top 5 Good Delineations</span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <a id="t.34af9f6eec08ba4df7b007a7bcc405dcf3e9ff93"></a>
    <a id="t.6"></a>
    <div style="width:600px">
                         <img src='../report/top5_0.jpg' class='img1'/>
                          <img src='../report/top5_1.jpg' class='img1'/> 
                          </div>
                          <br/>
                          <div style="width: 600px"> 
                        <img src='../report/top5_2.jpg' style='margin-left: 150px'  class='img1'/> 
                        </div>
                        <br/>
                        <div style="width:600px">
                            <img src='../report/top5_3.jpg' class='img1'/> 
                            <img src='../report/top5_4.jpg' class='img1'/>  
                       </div>

    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c11">
        <span class="c2">Top 5 Bad Delineations </span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <a id="t.34af9f6eec08ba4df7b007a7bcc405dcf3e9ff93"></a>
    <a id="t.7"></a>
        <div style="width:600px">

                          <img src='../report/bottom5_0.jpg' class='img1'/> 
                          <img src='../report/bottom5_1.jpg' class='img1'/> 
                          </div>
                          <div style="width: 600px"> 
                           <img src='../report/bottom5_2.jpg' style='margin-left: 150px' class='img1'/>
                           </div>
                               <div style="width:600px">

                         <img src='../report/bottom5_3.jpg' class='img1'/>
                          <img src='../report/bottom5_4.jpg' class='img1'/> 
                          </div>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c11">
        <span class="c7">Task 2 - Crown Alignment</span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c11">
        <span class="c1">Assumptions - No of polygons in ground truth
            is released &nbsp;so we reveal more granular scores now</span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c11">
        <span class="c1"># On a plot level No of polygons aligned
            correctly</span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <a id="t.1aebe24dda1b56316fca09844ec7bf63e4290b0d"></a>
    <a id="t.8"></a>
                            <img src='../report/crown_alignment.jpg'/> 

    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c11">
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <a id="t.1aebe24dda1b56316fca09844ec7bf63e4290b0d"></a>
    <a id="t.9"></a>
    <p class="c11">
        <span class="c1">&nbsp;</span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c11">
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <a id="t.1aebe24dda1b56316fca09844ec7bf63e4290b0d"></a>
    <a id="t.10"></a>
    
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c11">
        <span class="c7">Task 3 - Species Classification</span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c11">
        <img src="../report/species_classification_precision.png" />
    </p>

    <p class="c11">
        <img src="../report/species_classification_recall.png" />
    </p>

     <p class="c11">
        <span class="c1">Confusion matrix showing prediction of species after validation against ground truth</span>
    </p>
    <p class="c11">
        <img src="../report/confusion_matrix_table.jpg" />
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <a id="t.1aebe24dda1b56316fca09844ec7bf63e4290b0d"></a>
    <a id="t.11"></a>
    <table class="c6">
        <tbody>
            <tr class="c9">
                <td class="c10" colspan="1" rowspan="1"><p class="c0">
                        <span class="c1"></span>
                    </p></td>
            </tr>
        </tbody>
    </table>
    <p class="c3">
        <span class="c7"></span>
    </p>
   
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <a id="t.1aebe24dda1b56316fca09844ec7bf63e4290b0d"></a>
    <a id="t.12"></a>
    <table class="c6">
        <tbody>
            <tr class="c9">
                <td class="c10" colspan="1" rowspan="1"><p class="c0">
                        <span class="c1"></span>
                    </p></td>
            </tr>
        </tbody>
    </table>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
    <p class="c3">
        <span class="c1"></span>
    </p>
</body>
</html>
